{% extends "base.html" %}
{% block content %}
    <h1 class="title_h1">{{ data['category'][0] }}</h1>
    <div class="content">
        {% for i in range(count_records) %}
            <div class="top_content">
                <div class="left_panel">
                    <ul class="image_grid">
                        {% for photo in data['images'][i]['photos'] %}
                            <li class="image">
                                <div class="image-media">
                                    <div class="image-div">
                                        <img src="{{ photo | safe }}" alt="" width="">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right_panel">
                    <div class="title_subtitle-container">
                        <h1>
                            <span class="title">{{ data['title'][i] }}</span>
                            {% if data['subtitle'][i] %}
                                <span class="subtitle">{{ data['subtitle'][i] }}</span>
                            {% else %}
                                <span class="subtitle">{{ data['category'][i] }}</span>
                            {% endif %}
                            {% if data['color'][i] %}
                                <span class="subtitle">{{ data['color'][i] }}</span>
                            {% endif %}
                        </h1>
                        <p class="ref">Артикул: {{ data['article'][i] }}</p>
                    </div>
                    <div class="more_details_and_materials-container">
                        {% if data['details'][i] %}
                            <p class="size">
                                {{ data['details'][i] | replace_n | safe }}
                            </p>
                        {% endif %}
                        {% if data['materials'][i] %}
                            <p class="size"><br>
                                {{ data['materials'][i] | replace_n | safe }}</p>
                        {% endif %}
                        {% if data['description'][i] %}
                            <p class="size"><br>
                                {{ data['description'][i] | replace_n | safe }}</p>
                        {% endif %}
                        {% if data['size_and_fit'][i] %}
                            <p class="size"><br>
                                {{ data['size_and_fit'][i] | replace_n | safe }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <footer class="back_button">
        <a href="{{ url_for('server_app.choice_item', brand=data['brand'][0], category=data['category'][0]) }}">Назад</a>
    </footer>
{% endblock %}